
<div style="margin: 0 auto" class="btn-toolbar justify-content-center" role="toolbar"
     aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button (click)="onDirty.emit()" type="button" class="btn btn-danger">Dirty</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button (click)="OnReset.emit()" type="button" class="btn btn-secondary">Reset</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button (click)="onSave.emit()" [disabled]="isDisabled" type="submit" class="btn btn-success">Save</button>
  </div>
</div>

